html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: none repeat scroll 0 0 #222;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#infoDiv {
	display: inline-block;
	color: #d9750b;
	height: 100%;
	opacity: 0.8;
	float: left;
	width: 30%;
	overflow: hidden;
}

#infoDiv ul {
	text-align: left;
}

#canvasContainer {
	padding-top: 0;
	display: inline-block;
	float: right;
	width: 70%;
	height: 100%;
}

#canvas {
	background-color: white;
	border: none;
}

#tabContainer {
	height: auto;
	width: 100%;
	display: table;
}

.tab {
	float: left;
	width: 33%;
	height: 5%;
	cursor: pointer;
	background: none repeat scroll 0 0 #ff0000;
	outline: solid black;
	margin-top: 2%;
	margin-bottom: 2%;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.tab span {
	vertical-align: middle;
}

.tab:hover {
	background: none repeat scroll 0 0 #222;
}

#weightDiv {
	display: none;
	position: absolute;
}